<!-- Start wrapper-->
<div id="wrapper">
	<div class="height-100v d-flex align-items-center justify-content-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<h2 class="coming-soon-title text-primary">We are coming soon</h2>
						<h6 class="text-dark text-uppercase">Lets Join and work with us</h6>
						<p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
							<br>ut labore et dolore magna aliqua.</p>
						<!--subscribe form-->
						<form class="form-inline justify-content-center py-4">
							<div class="input-group">
								<input type="text" class="form-control bg-white" placeholder="Enter your email....">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button">Subscribe</button>
								</div>
							</div>
						</form>
						<!--end subscribe form-->
						<div class="mt-4"> <a routerLink="/" class="btn btn-dark btn-round m-1">Go To Home </a>
							<a href="javascript:;" class="btn btn-warning btn-round m-1">Previous Page </a>
						</div>
						<div class="mt-4">
							<p class="">Copyright © 2020 Dashtreme | All rights reserved.</p>
						</div>
						<hr class="w-50 border-light">
						<div class="mt-2"> <a href="javascript:" class="btn-social btn-facebook btn-social-circle waves-effect waves-light m-1"><i class="fa fa-facebook"></i></a>
							<a href="javascript:" class="btn-social btn-google-plus btn-social-circle waves-effect waves-light m-1"><i class="fa fa-google-plus"></i></a>
							<a href="javascript:" class="btn-social btn-behance btn-social-circle waves-effect waves-light m-1"><i class="fa fa-behance"></i></a>
							<a href="javascript:" class="btn-social btn-dribbble btn-social-circle waves-effect waves-light m-1"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--wrapper-->