<div class="row mt-3">
	<div class="col-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0">7543</h5>
						<p class="mb-0">Total Patients</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-face text-gradient-primary"></i>
					</div>
				</div>
				<div class="progress-wrapper mt-3">
					<div class="progress mb-0" style="height: 5px;">
						<div class="progress-bar gradient-primary" role="progressbar" style="width: 45%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0">$8967</h5>
						<p class="mb-0">Admitted Patients</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-accounts-alt text-gradient-info"></i>
					</div>
				</div>
				<div class="progress-wrapper mt-3">
					<div class="progress mb-0" style="height: 5px;">
						<div class="progress-bar gradient-info" role="progressbar" style="width: 55%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0">$8,569</h5>
						<p class="mb-0">Treatment Costs</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-balance-wallet text-gradient-danger"></i>
					</div>
				</div>
				<div class="progress-wrapper mt-3">
					<div class="progress mb-0" style="height: 5px;">
						<div class="progress-bar gradient-danger" role="progressbar" style="width: 65%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-3 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="media align-items-center">
					<div class="media-body">
						<h5 class="mb-0">689</h5>
						<p class="mb-0">Available Staff</p>
					</div>
					<div class="w-icon"><i class="zmdi zmdi-male-female text-gradient-success"></i>
					</div>
				</div>
				<div class="progress-wrapper mt-3">
					<div class="progress mb-0" style="height: 5px;">
						<div class="progress-bar gradient-success" role="progressbar" style="width: 75%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->
<div class="card">
	<div class="card-body pb-1">
		<div id="Outpatients-vs-Inpatients-Trend"></div>
	</div>
</div>
<div class="card-deck">
	<div class="card">
		<div class="card-header">Patients By Division</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Division</th>
							<th>Inpatient</th>
							<th>Outpatient</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Surgery</td>
							<td>6869</td>
							<td>13025</td>
						</tr>
						<tr>
							<td>Dermatology</td>
							<td><i class="zmdi zmdi-long-arrow-up mr-1 text-success font-weight-bold"></i>5328</td>
							<td>65987</td>
						</tr>
						<tr>
							<td>Neurology</td>
							<td>2369</td>
							<td>1245</td>
						</tr>
						<tr>
							<td>Oncology</td>
							<td>6589</td>
							<td><i class="zmdi zmdi-long-arrow-down mr-1 text-danger font-weight-bold"></i>4621</td>
						</tr>
						<tr>
							<td>Orthopaedics</td>
							<td>3659</td>
							<td>4789</td>
						</tr>
						<tr>
							<td>Cardiology</td>
							<td><i class="zmdi zmdi-long-arrow-up mr-1 text-success font-weight-bold"></i>8956</td>
							<td><i class="zmdi zmdi-long-arrow-up mr-1 text-danger font-weight-bold"></i>7456</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">Avg Waiting Time By Division</div>
		<div class="card-body p-0">
			<div id="Avg-Waiting-Time-By-Division"></div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header">Overall Patient Satisfaction</div>
	<div class="card-body p-0">
		<div class="row row-group">
			<div class="col-12 col-md-6 col-lg-3 col-xl-3">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-center">
						<div id="excellent-satisfaction"></div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 col-xl-3">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-center">
						<div id="good-satisfaction"></div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 col-xl-3">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-center">
						<div id="positive-satisfaction"></div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 col-xl-3">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-center">
						<div id="negative-satisfaction"></div>
					</div>
				</div>
			</div>
		</div>
		<!--end row-->
	</div>
</div>